* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-app {
  display: inline-block;
  width: 100vw;
}

.header-cta-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 6px;
  width: 100vw;
  height: 53px;
  border-bottom: 1px solid #e2e2e2;
}

.login-app {
  display: flex;
  height: 30px;
  align-items: flex-end;
}

.logo-app__svg {
  height: 30px;
}

.login-app {
  width: 32px;
  height: 32px;
  padding: 4px;
}

.login-app__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.menu-app {
  display: flex;
  align-items: center;
  width: 34;
  height: 32;
  padding: 8px 9px;
}

.menu-ap__icon {
  width: 16px;
  height: 16px;
}

.header-info-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 57px;
  padding: 10px 20px;
}

.header-info-app__date {
  font-size: 0.6875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #121212;
}

.header-info-app__subscribe {
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid #121212;
  text-wrap: nowrap;
}

@media screen and (min-width: 1024px) {
  .header-app {
    display: none;
  }

  .header-info-app {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .header-cta-app {
    padding: 8px 15px 3px;
    height: 47px;
  }
  .login-app {
    height: 26px;
  }

  .logo-app__svg {
    height: 26px;
  }

  .header-info-app {
    background: #f7f7f7;
  }
}

@media screen and (max-width: 768px) {
  .header-info-app {
    border-bottom: 1px solid #121212;
  }
}

.newsletter-app {
  width: 100%;
  margin: 18px 0;
}

.newsletter-app__title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  font-family: helvetica, arial, sans-serif;
}

.newsletter-app__paragraph {
  color: #555555;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  margin-top: 4px;
}

.newsletter-app__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 18px;
  border-bottom: 1px solid #e2e2e2;
}

.newsletter-app__item--suscribirse {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  border-bottom: 1px solid #e2e2e2;
}

.login__blue-botom--suscribirse {
  width: min-content;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .newsletter-app {
    display: none;
  }
}

.top-news-app {
  display: flex;
  flex-direction: column;
}

.top-news-app__article {
  padding: 0;
}

.top-news-app__article::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 -39px;
  background-color: #f8f8f8;
  height: 30px;
  border-top: 1px solid #dfdfdf;
  margin-top: 25px;
}

.article-app__img {
  position: relative;
  margin: 0 -39px;
  width: 100vw;
}

@media screen and (min-width: 765px) {
  .top-news-app {
    display: none;
  }
}
