main {
  margin: 0 auto;
  max-width: var(--width);
  padding: 0px 39px;
}

.header-web {
  max-width: var(--width);
  margin: 4px auto 0px;
  padding: 0px 39px;
}

.header-cta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 8px;
}

.search {
  display: flex;
  justify-self: flex-start;
  justify-content: center;
  position: relative;
  right: 5px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: 0.6s;
  cursor: pointer;
}

.search:hover {
  background: #f7f7f7;
}

.search__svg {
  width: 16px;
  height: 16px;
}

.nav-language__list {
  display: flex;
}

.nav-language__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 0.6875rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #5a5a5a;
  border-radius: 3px;
  letter-spacing: 1.4px;
  padding: 4px 8px;
  border-radius: 3px;
  word-break: keep-all;
  cursor: pointer;
}

.nav-language__item:hover {
  transition: 0.6s;
  background: #f7f7f7;
  color: #121212;
}

.login {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  height: 31px;
}

.login__blue-botom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 11px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  transition: 0.6s;
  white-space: nowrap;
  background-color: #567b95;
  border: 1px solid #326891;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 7px;
}

.login__blue-botom--margin {
  margin-left: 7px;
}

.login__blue-botom:hover {
  transition: 0.6s;
  background: rgb(50, 104, 145);
}

.heder-title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Helvetica, sans-serif;
  line-height: 1.25rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.heder-title__logo {
  width: 485px;
}

.heder-title__svg {
  width: 485px;
}

.heder-title__date {
  display: flex;
  justify-self: flex-start;
  align-items: flex-end;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.heder-title__follow {
  display: flex;
  justify-self: flex-end;
  align-items: flex-end;
  gap: 10px;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.follow__text {
  font-size: 0.75rem;
  color: #121212;
}

.follow__text--underline {
  text-decoration: underline;
}

.nav-categorys {
  display: block;
  border-bottom: 1px solid #000000;
}

.nav-categorys__list {
  display: flex;
  justify-content: center;
}

.nav-categorys__item {
  padding: 1rem 18px 1rem 12px;
}

.nav-categorys__link {
  cursor: pointer;
  color: #121212;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-wrap: nowrap;
}

.nav-categorys__link:hover {
  border-bottom: 2px solid #121212;
}

@media screen and (max-width: 1023px) {
  .header-web {
    display: none;
  }
}

.newsletter {
  display: flex;
  width: 100%;
  min-height: 96px;
  align-items: center;
  border-top: 1px solid #121212;
  border-bottom: 2px solid #121212;
  overflow: hidden;
}

.newsletter__article {
  height: 100%;
}

.newsletter__article--grow1 {
  flex: 1 1 0;
}

.newsletter__article--grow2 {
  flex: 1 1 26%;
}

.newsletter__link {
  display: flex;
  align-items: center;
  border-right: 1px solid #e2e2e2;
  padding-right: 10px;
  margin-right: 20px;
}

.newsletter__link--margin-cero {
  margin: 0;
}

.newsletter__img {
  width: 75px;
  height: 75px;
}

.newsletter__texts {
  margin-left: 13px;
  min-width: 161px;
  max-width: 320px;
  font-family: helvetica, sans-serif;
}

.newsletter__texts--margin {
  margin-right: 30px;
}

.newsletter__title {
  font-weight: 700;
  font-size: 15px;
}

.newsletter__paragraph {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .newsletter {
    display: none;
  }
}

.top-news {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 29px 0 0;
}

.top-news__article1 {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 0;
  flex: 1 1 50%;
}

.top-news__article2 {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  flex: 1 1 25%;
}

.top-news__figcaption {
  display: flex;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.top-news__figcaption-text {
  font-size: 0.625rem;
  font-weight: 500;
  margin-top: 2px;
  color: #727272;
  font-family: helvetica, arial, sans-serif;
}

.column-container {
  display: flex;
  flex-basis: 240px;
}

.column__articles {
  display: flex;
  flex-flow: row wrap;
}

.article__img {
  width: 100%;
}

.article__small-img {
  width: 75px;
  height: 75px;
  margin-left: 15px;
  margin-bottom: 10px;
  object-fit: cover;
  float: right;
}

.article__title {
  margin-bottom: 7px;
  font-family: times, serif;
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.6875rem;
}

.article__paragraph {
  margin-bottom: 0;
  font-family: serif;
  font-size: 1.1rem;
  font-weight: 400;
}

.article__time {
  color: #727272;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  margin-top: 5px;
}

.article__comment {
  color: #363636;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
}

.column-article {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0 0 15px 15px;
  padding: 0 0 15px;
}

.column-article--item1 {
  border-bottom: 1px solid #dfdfdf;
}

@media screen and (max-width: 1041px) {
  .column-container {
    flex-basis: 100%;
    border-top: 1px solid #dfdfdf;
    margin: 29px 0 0;
  }
  .column__articles {
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .column-article {
    margin: 27px 0 0 0;
    flex-flow: column;
  }
  .top-news__article2 {
    padding: 0 0 0 15px;
    border-left: 1px solid #dfdfdf;
    border-right: none;
  }
  .column-article--item1 {
    border-bottom: none;
    border-right: 1px solid #dfdfdf;
    padding-right: 20px;
  }
  .column-article--item2 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1019px) {
  .top-news__article1 {
    padding: 0 29px 0 0;
  }

  .top-news__article2 {
    padding: 0 0 0 29px;
  }
}

@media screen and (max-width: 764px) {
  .top-news {
    display: none;
  }
}

.global-overview {
  margin-top: 30px;
  padding-top: 29px;
  border-top: 1px solid #dfdfdf;
}

.global-overview__list {
  display: flex;
}

.global-overview__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 20%;
  padding: 0 15px;
  border-right: 1px solid #dfdfdf;
}

.global-overview__item--first-item {
  padding-right: 15px;
}

.global-overview__item--last-item {
  padding: 0 0 55px 15px;
  border: none;
}

.global-overview__img {
  position: relative;
  top: -10px;
  width: 100%;
}

.global-overview__paragraph {
}

@media screen and (max-width: 1280px) {
  .global-overview__item {
    padding-right: 20px;
  }

  .global-overview__item--last-item {
    padding: 0 0 55px 20px;
  }

  .global-overview__item--first-item {
    padding: 0 20px 0 0;
  }
}

@media screen and (max-width: 764px) {
  .global-overview {
    margin-top: 0;
    padding-top: 46px;
    border-top: 1px solid #dfdfdf;
  }
  .global-overview__list {
    flex-direction: column;
  }
  .global-overview__item {
    flex: 1;
    width: 100%;
    padding: 26px 0 0 0;
    border-right: none;
  }
  .global-overview__img {
    position: static;
  }
  .global-overview__item--first-item {
    padding: 0;
  }
  .global-overview__img {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 764px) {
  .global-overview__paragraph {
    display: none;
  }
}
